
/*Colors*/
$primary-color: rgb(54, 177, 54);
$secondary-color: rgb(54, 99, 177);
$error-color: #a92222;
$success-color: green;


/*Font sizes*/
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
